table
{
    border-collapse: separate;
    empty-cells: show;
    table-layout: fixed ;
    width: 50% ;
}
th{
    border: thick solid lightgrey;
    border-collapse: collapse;
    width: 25%;
    height: 5rem;
    font-size: 4rem;
    font-family: raleway, sans-serif;

}

.container
{
    display: flex;
}

.letter{
    border: thick solid lightgrey;
    border-collapse: collapse;
    width: 25%;
    height: 5rem;
    font-size: 4.75rem;
    font-family: raleway, sans-serif;
    text-align: center;
}


@font-face {
    font-family: "myFont";
    src: url("Raleway-Medium.woff") format("woff");;
}
#confirm{
    display: none;
    transition-duration: 0.4s;
}

#confirm:hover {
    border: 2px solid #4CAF50;
}